:root{

}

*{
  box-sizing: border-box;
}

html,body{
  color:#444;
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

body{
  font-size: clamp(1em,2em);
}

button{
  font-family: 'Open Sans', sans-serif;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 2em;
  max-width: 1440px;
  margin:0 auto;
}

.navbar__section--right{
  margin-left: auto;
}

.logo{
  height: 1.25em;
}

.button{
  color: hsl(0,0%,100%);
  background-color: hsl(322, 100%, 66%);
  text-transform: capitalize;
  padding:1em 2em;
  border:none;
  border-radius:3em;
}

.button--nav{
  color:hsl(321, 100%, 78%);
  border:solid 1px hsl(321, 100%, 78%);
  background-color:transparent;
}

.hero{
  padding:4em 2em;
  text-align: center;
  line-height: 1.6;
}

.hero__heading{
  color:#222;
  font-size:2em;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
  padding-bottom: 1em;
}

.hero__about{
  max-width: 52ch;
  margin: 0 auto;
  padding-bottom: 2em;
}
